{% extends 'main/base.html' %}

{% block title %}
Загрузка изображения
{% endblock %}


{% block content %}
<div class="posts">
    <div class="posts_text">
        <p>Здесь Вы можете загрузить изображение:</p>
        <form action="{% url 'add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input class="button" type="submit" value="Загрузить">
            <input class="button" type="reset" value="Очистить форму">
        </form>
    </div>
</div>
{% endblock %}
