<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>heximal</title>
</head>
<body>
    <h1>Задайте hex код цвета через #</h1>

    <form action="{% url 'hex' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" value="#" name="hexi">
        <input type="submit" value="Искать цвет"><input type="reset" value="Очистить форму">
    </form>

    <p>Выбранный вами код цвета: {{ a }}</p>
    <p>Количество на изображении пикселей данного цвета: {{ color }}</p>
</body>
</html>
