{% extends 'main/base.html' %}

{% block title %}
HEX - код
{% endblock %}


{% block content %}
<div class="posts">
    <div class="posts_text">
        <p>Задайте hex код цвета через #</p>

        <form action="{% url 'hex' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" value="#" name="hexi">
            <br>
            <input class="button" type="submit" value="Искать цвет">
            <input class="button" type="reset" value="Очистить форму">
        </form>

        <p>Выбранный вами код цвета: {{ a }}</p>
        <p>Количество на изображении пикселей данного цвета: {{ color }}</p>
    </div>
</div>
{% endblock %}

